{% extends "sunset-to-sunset/_layouts" %}
{% import "_includes/forms" as forms %}
{% from "sunset-to-sunset/_macros" import configWarning %}

{% set selectedTab = 'advanced' %}

{% set fullPageForm = true %}

{% block blockContent %}
    {{ parent() }}

    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="sunset-to-sunset">

    {% namespace 'settings' %}

        {{ forms.selectField({
            label:        'Simulate Time'|t('sunset-to-sunset'),
            instructions: 'Test how the banner will appear before, during, and after the Sabbath hours.'|t('sunset-to-sunset'),
            id:           'simulateTime',
            name:         'simulateTime',
            value:        settings.simulateTime,
            options: {
                '' : 'No Simulation',
                'before' : 'Before Sabbath',
                'during' : 'During Sabbath',
                'after' : 'After Sabbath',
            },
            class:        configWarning('simulateTime', 'sunset-to-sunset') ? 'disabled',
            disabled:     configWarning('simulateTime', 'sunset-to-sunset'),
            warning:      configWarning('simulateTime', 'sunset-to-sunset'),
            errors:       settings.getErrors('simulateTime')
        }) }}

    {% endnamespace %}

    {#<h2>Troubleshooting</h2>#}
    {#<p><a class="btn" href="{{ url('utils/logs/sunsettosunset.log') }}">View logs</a></p>#}

{% endblock %}