{% do view.registerAssetBundle("cavellblood\\sunsettosunset\\assetbundles\\duringsabbath\\DuringSabbathAsset") %}
<div class="sts-full-message__container">

    <div class="sts-layout  sts-modal">
        <div class="sts-layout__item  sts-message-area">
            <h1 class="sts-full-message__heading">Sabbath</h1>
            <p>
                {{ message }}
            </p>
        </div>
        <div class="sts-layout__item  sts-time-area">
            <p>
            We will re-open on
            <strong>
                <time datetime="{{ openingTime | date('c') }}">{{ openingTime | date('l, F j \\a\\t g:ia T') }}</time>.
            </strong>
            </p>
        </div>
    </div>

</div>