{% extends parentLayout | default('_layouts/cp') %}

{% do view.registerAssetBundle("cavellblood\\sunsettosunset\\assetbundles\\sunsettosunset\\SunsetToSunsetAsset") %}

{% if title is not defined %}
	{% set title = craft.sunsetToSunset.getPluginName %}
{% endif %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = craft.sunsetToSunset.getSettingsUrl() %}

{% set sunsetToSunsetSections = {
    message: { label: "Message"|t, url: url(pluginCpUrl ~ '/message') },
	location: { label: "Location"|t, url: url(pluginCpUrl ~ '/location') },
	appearance: { label: "Appearance"|t, url: url(pluginCpUrl ~ '/appearance') },
	advanced: { label: "Advanced"|t, url: url(pluginCpUrl ~ '/advanced') },
} %}

{% set tabs = sunsetToSunsetSections %}

{% set crumbs = [
	{
		label: craft.sunsetToSunset.getPluginName(),
		url: url(pluginCpUrl)
	},
	{
		label: sunsetToSunsetSections[(selectedTab ?? selectedSubnavItem)].label,
		url: sunsetToSunsetSections[(selectedTab ?? selectedSubnavItem)].url
	},
] %}

{% set content %}
	{% block blockContent %}
		<h2>{{ sunsetToSunsetSections[(selectedTab)].label }}</h2>

	{% endblock %}

    <hr>

    <div class="plugin-footer">
        <div class="footer-left">
			{% block footerButton %}

			{% endblock %}
        </div>

        <div class="footer-right">
            <div class="plugin-credit">
                <p>{{ craft.sunsetToSunset.getPluginName }} {{ craft.sunsetToSunset.getPluginVersion }} &bull; <a href="{{ craft.sunsetToSunset.getPluginUrl }}" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
{% endset %}